.page-header {
  background-color: $off-white;
  margin-bottom: $l-size;
  padding: $l-size 0;
}

.page-header__content {
  display: flex;
  flex-direction: column;
}

.page-header__title {
  width: 40%;
  margin: 0;
  h1 {
    font-weight: 300;
    margin: 0;
    &:not(:first-child) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    span {
      font-weight: 700;
      justify-self: end;
    }
  }
  .page-header__operation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 50px;
    .page-header__operation--sign {
      height: 2px;
      width: 1rem;
      background-color: #333333;
      margin-right: $s-size;
      justify-self: end;
    }
    .page-header__operation--line {
      background-color: #333333;
      height: 2px;
      width: 100%;
    }
  }
}

.page-header__section {
  display: flex;
  align-items: center;
  margin-top: $m-size;
}

.page-header__subtitle {
  font-weight: 300;
  margin: 0 0 0 $m-size;
  span {
    font-weight: 700;
  }
}
